section header{
    border-top: 1px solid var(--stroke-color);
    padding-block: 12px 24px;
    font: var(--text-span);

    a{
        justify-self: end;
        align-items: center;
        gap: 8px;

        span{
            background-image: url(../assets/icons/ArrowRight.svg);
            width: 16px;
            height: 16px;
        }

        &:hover span{
            background-image: url(../assets/icons/ArrowRight-hover.svg);
        }
    }
}

#featured{
    grid-area: featured;

 img{
    height: 100%;
    object-fit: cover;
    
 }

 /* O "&" substitui a palavra card, pois tra-se de um nesting,
 ou seja, o invez de fazermos card::before{} usamos apenas &::before{} dentro do .card */
 .card{
    border-radius: 4px;
    position: relative; /*Obedece o perimetro que ele está inserido*/
    overflow: hidden;

    &::before{
        content: "";
        position: absolute; /*Não obedece o perimetro que está inserido*/
        inset: 0;
        top: 50%;
        background:linear-gradient(
            180deg,
            transparent 0%,
            #020617
        );
    }

    figcaption{
        position: absolute;
        bottom: 0;
        padding: 24px;

        &:has(.text-lg){ /*figcaption tem .text-lg? se sim aplica o padding de 12px*/
            padding:12px;
        }
        
        h2{
            margin-top: 8px;
        }
    }
 }
}

#weekly{
    grid-area: weekly;

    & > div{
        grid-template-columns: repeat(4, 292px);
    }

    img{
        height: 160px;
    }

    figure{
        position: relative;

        .content-tag{
            position: absolute;
            top: 8px;
            left: 8px;
        }
    }

    p{
        margin-top: 8px;
        font-weight: 800;

    }
   
}

#ai{
    grid-area: ai;
    img{
        width: 176px;
        aspect-ratio: 1/1;
        object-fit: cover;
    }

    h3{
        margin-block: 8px 4px;
    }

}

aside{
    grid-area: aside;
}

#more{

    margin-top: 32px;

    h3{
        margin-top: 8px;
    }
    img{
        width: 72px;
        aspect-ratio: 1/1;
        object-fit: cover;
    }
}